.small-photo {
    position: fixed;
    width: 103px;
    height: auto;
    top: 5px;
    left: 5px;
}

.second-photo {
    position: fixed;
    width: 1000px;
    height: auto;
    top: 400px;
    left: 1px;
}

aside {
    background-color: rgb(194, 211, 200);
    padding: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    margin: 40px;
}

h2 {
    color: rgb(114, 141, 105);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    top: 350px;
    left: 1px;
}

article {
    color: rgb(114, 141, 105);
    margin-top: 0px; 
    margin-bottom: 50px;
    text-align: center;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    top: 80px;  /* move up by decreasing */
    left: 50%;
    transform: translateX(-50%);
}

h3 {
    color: rgb(114, 141, 105);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    top: 400px;
    left: 1150px;
    font-size: 3em;
}
.menu-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: rgb(114, 141, 105);
    cursor: pointer;
}

.menu-icon:hover {
    color: rgb(231, 117, 12);
}

a {
    color: rgb(114, 141, 105);
    text-decoration: none;
}

a:hover {
    color: rgb(231, 117, 12);
}